<%- include("header") -%>
<div id="main">
    <h1 class="title">Hae JY tai HKI, vastauksena saat seuraavat matkustajajunat.</h1>

    <div class="hello">
        <form action="/" method="POST">
            <label class="bruh" for="cityInput">Kaupungin nimi?</label>
            <input id="cityInput" type="text" name="cityName" placeholder="JY or HKI" class="">
            <button type="submit" class="bruh btn btn-warning">
                Etsi
            </button>
        </form>
    </div>
</div>

<%- include("footer") %>